.btn{
  border: 1px solid black;
  cursor: pointer;
  background: none;
  font-size: 16px;
  margin: 0 5px;
  &-primary{
    // color: black;
    border: none;
    background: $color3;
    // border-color: white;
    // border-radius: 5px;
    border-radius: 0.375rem;
    // padding: 0.675rem 0.75rem;
    padding: 0.675rem 1rem;
  }
  // &-signup{
  //   margin-left: 10px;
  // }
  &:hover{
    // color: black;
    font-weight: bold;
  }
}