.img-responsive{
  width: 100%;
}
.img-radius{
  border-radius: 10% 0 10% 10%;
}
.img-crop{
  border-radius: 10px;
  width: 95%;
  height: 5%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.img-crop1{
  width: 180px;
  height: 240px;
  // object-fit: contain;
  object-fit: cover;
  // object-fit: scale-down;
  object-position: center;
  overflow: hidden;
  border: 2px solid $color1;
}
.img-crop2{
  width: 100%;
  border-radius: 10px;
  // object-fit: contain;
  // object-fit: cover;
  // object-fit: scale-down;
  // object-position: center;
  // overflow: hidden;
  border: 2px solid $color1;
}
.icon128{
  width: 128px;
}
.icon64{
  width: 64px;
}
.icon32{
  width: 32px;
}
.icon-rotate45{
  margin-left: 5px;
  -webkit-transform:rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.icon-rotate{
  margin-left: 5px;
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.img-efect{
  // box-shadow: 5px 5px 1px 0px rgba(240, 116, 178, 1);
  box-shadow: 5px 5px 0px rgba(240, 116, 178, 1);
}
