// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) { ... }

@media (min-width: 320px) and (max-width: 576px) {
  @for $i from 1 through $column{
    .col#{$i}{
      width: 100%;
    }
  }
  @for $i from 1 through $column{
    .col#{$i}-mobile-device{
      width: calc(100%/($column/$i))-3%;
      margin: 1.5%;
    }
  }
  .mobile-reverse{
    flex-direction: column-reverse;
  }
  .mobile-reverse-column{
    flex-direction: column;
  }
  h5{
    font-size: 16px;
    line-height: 180%; 
  }
  h4{
    font-size: calc(19.2 * 1.1) * 1px !important; //maximal 1.6
    line-height: 180%; 
  }
  h3{
    font-size: calc(23.04 * 1.1) * 1px !important; //maximal 1.6
    line-height: 120%;
  }
  h2{
    font-size: calc(27.65 * 1.1) * 1px !important; //maximal 1.6
    line-height: 120%; 
  }
  h1{
    font-size: calc(33.18 * 1.1) * 1px !important; //maximal 1.6
    line-height: 120%;
  }
  .burger{
    display: block;
    margin: 1.5%;
  }
  .menu{
    position: fixed;
    right: -100%;
    top: 9%;
    // top: 50%;
    flex-direction: column;
    background-color: $color1;
    width: 100%;
    height: 100vh;
    padding: 1.5rem;
    text-align: center;
    transition: 0.3s;
    margin: 0;
  }
  .menu-item{
    margin: 10px 0;
  }
  .menu.active{
    right: 0;
    z-index: 1;
  }
  .header{
    padding: 10px;
  }
  .hero{
    padding: 10px;
  }
  .features{
    padding: 10px;
  }
  .features1{
    padding: 10px;
  }
  .review{
    padding: 10px;
  }
  .subscribe{
    padding: 10px;
  }
  .about-contact{
    padding: 10px;
  }
  // .img-crop{
  //   width: 95%;
  //   object-fit: cover;
  //   object-position: center;
  // }
  .contact-left{
    align-items: flex-start;
  }
  .aci{
    text-align: center;
    margin-top: 15px;
  }
  .form-control1{
    width: 100%;
  }
  .card{
    padding: 0;
  }
  .about-content{
    padding: 0;
  }
  .footer{
    padding: 10px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  @for $i from 1 through $column{
    .col#{$i}{
      width: 100%;
    }
  }
  @for $i from 1 through $column{
    .col#{$i}-tablet-device{
      width: calc(100%/($column/$i))-3%;
      margin: 1.5%;
    }
  }
  .tablet-reverse{
    flex-direction: column-reverse;
  }
  .tablet-reverse-column{
    flex-direction: column;
  }
  h5{
    font-size: 16px;
    line-height: 180%; 
  }
  h4{
    font-size: calc(19.2 * 1.1) * 1px !important; //maximal 1.6
    line-height: 180%; 
  }
  h3{
    font-size: calc(23.04 * 1.1) * 1px !important; //maximal 1.6
    line-height: 120%;
  }
  h2{
    font-size: calc(27.65 * 1.2) * 1px !important; //maximal 1.6
    line-height: 120%; 
  }
  h1{
    font-size: calc(33.18 * 1.2) * 1px !important; //maximal 1.6
    line-height: 120%;
  }
  .burger{
    display: block;
    margin: 1.5%;
  }
  .menu{
    position: fixed;
    right: -100%;
    top: 9%;
    // top: 50%;
    flex-direction: column;
    background-color: $color1;
    width: 50%;
    height: 100vh;
    padding: 1.5rem;
    text-align: center;
    transition: 0.3s;
    margin: 0;
  }
  .menu-item{
    margin: 10px 0;
  }
  .menu.active{
    right: 0;
    z-index: 1;
  }
  .form-control1{
    width: 77%;
  }
  .contact-left{
    align-items: flex-start;
  }
  .aci{
    text-align: center;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  @for $i from 1 through $column{
    .col#{$i}-dekstop-device{
      width: calc(100%/($column/$i))-3%;
      margin: 1.5%;
    }
    .dekstop-reverse{
      flex-direction: column-reverse;
    }
  }
  h5{
    font-size: 16px;
    line-height: 180%; 
  }
  h4{
    font-size: calc(19.2 * 1.1) * 1px !important; //maximal 1.6
    line-height: 180%; 
  }
  h3{
    font-size: calc(23.04 * 1.1) * 1px !important; //maximal 1.6
    line-height: 120%;
  }
  h2{
    font-size: calc(27.65 * 1.4) * 1px !important; //maximal 1.6
    line-height: 120%; 
  }
  h1{
    font-size: calc(33.18 * 1.4) * 1px !important; //maximal 1.6
    line-height: 120%;
  }
  .burger{
    display: block;
    margin: 1.5%;
  }
  .menu{
    position: fixed;
    right: -100%;
    top: 11%;
    // top: 50%;
    flex-direction: column;
    background-color: $color1;
    width: 50%;
    height: 100vh;
    padding: 0 1rem;
    text-align: center;
    transition: 0.3s;
    margin: 0;
  }
  .menu-item{
    margin: 10px 0;
  }
  .menu.active{
    right: 0;
    z-index: 1;
  }
  .form-control1{
    width: 83%;
  }
  .about-content{
    padding: 0;
  }
  .contact-left{
    flex-direction: row;
  }
  .aci{
    text-align: center;
  }
}
@media (min-width: 993px) and (max-width: 1024px) {
  @for $i from 1 through $column{
    .col#{$i}-dekstopL-device{
      width: calc(100%/($column/$i))-3%;
      margin: 1.5%;
    }
    .dekstopL-reverse{
      flex-direction: column-reverse;
    }
  }
  h5{
    font-size: 16px;
    line-height: 180%; 
  }
  h4{
    font-size: calc(19.2 * 1.1) * 1px !important; //maximal 1.6
    line-height: 180%; 
  }
  h3{
    font-size: calc(23.04 * 1.1) * 1px !important; //maximal 1.6
    line-height: 120%;
  }
  h2{
    font-size: calc(27.65 * 1.4) * 1px !important; //maximal 1.6
    line-height: 120%; 
  }
  h1{
    font-size: calc(33.18 * 1.4) * 1px !important; //maximal 1.6
    line-height: 120%;
  }
  // .burger{
  //   display: block;
  //   margin: 1.5%;
  // }
  // .menu{
  //   position: fixed;
  //   left: -100%;
  //   top: 15%;
  //   // top: 50%;
  //   flex-direction: column;
  //   background-color: $color1;
  //   width: 100%;
  //   height: 100vh;
  //   padding: 1.5rem;
  //   text-align: center;
  //   transition: 0.3s;
  //   margin: 0;
  // }
  // .menu-item{
  //   margin: 10px 0;
  // }
  // .menu.active{
  //   left: 0;
  //   z-index: 1;
  // }
  .form-control1{
    width: 83%;
  }
  .about-content{
    padding: 0;
  }
  .contact-left{
    flex-direction: row;
  }
  .aci{
    text-align: center;
  }
}
