$color1: #FF74B1;
$color2: #FFA1CF;
$color3: #FFD6EC;
$poppins: 'Poppins', sans-serif;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: $poppins;
  font-size: 16px;
  color: white;
  background: $color1;
}
h1, h2, h3, h4, h5{
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
}